apiVersion: apps/v1
kind: Deployment 
metadata:
        name: front
        labels:
                app: front
spec:
        replicas: 1
        selector:
                matchLabels:
                        app: front 
        template:
                metadata:
                        labels:
                                app: front
                spec:
                        containers:
                                - name: front
                                  image: docker.io/wrusselly/node-img
                                  ports:
                                          - containerPort: 3000
                                            

